/* Sticky footer styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

#root {
  flex: 1; 
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}


#carousel{
  max-height: 500px;
}

.profile-container {
  max-width: 600px;
  margin: 20px auto; 
  padding: 20px;
  background-color: black;
  color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: left; 
}

.profile-details {
  margin-top: 20px;
}

.profile-details p {
  margin-bottom: 10px;
}

.profile-loading, .profile-error {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  background-color: black;
  color: white; 
  border: 1px solid #ccc;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .profile-container {
      padding: 10px; 
  }
}


.no-data-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw; 
  background-color: #4f4f4f;
  color: #721c24;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0; 
}

.no-data-found p {
  margin: 0;
}

.navbar {
  border-radius: 0;
}

.navbar-brand {
  margin-right: 1rem;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5); 
}


body {
  background-color: #f8f9fa;
  font-family: 'Arial', sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background: #6f6d6d;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #fdfdfd;
}

.btn-block {
  width: 100%;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #565e64;
  border-color: #565e64;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-form {
  background: #5c5a5a;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.signup-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #ffffff;
}

.btn-block {
  width: 100%;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

body {
  background-color: #f8f9fa;
  font-family: 'Arial', sans-serif;
}

.my-order-container {
  margin-top: 20px;
}

.order-date {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.card {
  transition: transform 0.2s;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  border-bottom: 1px solid #eaeaea;
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.price {
  font-weight: bold;
  color: #28a745;
}
