/* Sticky footer styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

#root {
  flex: 1; 
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}


#carousel{
  max-height: 500px;
}

.profile-container {
  max-width: 600px;
  margin: 20px auto; 
  padding: 20px;
  background-color: black;
  color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: left; 
}

.profile-details {
  margin-top: 20px;
}

.profile-details p {
  margin-bottom: 10px;
}

.profile-loading, .profile-error {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  background-color: black;
  color: white; 
  border: 1px solid #ccc;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .profile-container {
      padding: 10px; 
  }
}


.no-data-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw; 
  background-color: #4f4f4f;
  color: #721c24;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0; 
}

.no-data-found p {
  margin: 0;
}

.navbar {
  border-radius: 0;
}

.navbar-brand {
  margin-right: 1rem;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5); 
}


